.accordion {
  margin: 50px;
  color: rgb(226, 42, 42);
}
.accordion dt, .accordion dd {
  padding: 10px;
  border: 1px solid  rgb(114, 36, 150);
  border-bottom: 0;
}
.accordion dt:last-of-type, .accordion dd:last-of-type {
  border-bottom: 1px solid black;
}
.accordion dt a, .accordion dd a {
  display: block;
  color: rgb(114, 36, 150);
  font-weight: bold;
}
.accordion dd {
  border-top: 0;
  font-size: 12px;
}
.accordion dd:last-of-type {
  border-top: 1px solid  rgb(226, 42, 42);
  position: relative;
  top: -1px;
}

a {
  text-decoration: none;
}

body {
  font: 16px Sans-Serif;
}